body{
    color: white;
    background-color: black;
}

header img {width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 5px solid brown;
}


.center {
    text-align: center;
}

